.not-found {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}
.not-found svg {
    margin: 0;
    fill: var(--icon-fill); 
}

